.profile-page {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.profile-top {
    width: 100%;
    height: 400px;
    display: flex;
    position: relative;
}

.profile-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profilBanner {
    filter: brightness(0.6) blur(5px);
}

.profile-top-info {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.profile-top-info-sizing {
    display: flex;
    width: 1000px;
    height: 100%;
    box-sizing: border-box;
}

.profile-top-info-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.profile-top-info-picture h2 {
    font-size: 25px;
    color: #24FF00;
}

.profile-top-info-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    gap: 40px;
    position: relative;
}

.profile-top-info-data button {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: #11112f;
    color: #24FF00;
    font-size: 20px;
}

.profile-top-info-no-btn {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: #11112f;
    color: #24FF00;
    font-size: 20px;
}

.profile-top-info-btn-friend button:hover {
    cursor: pointer;
}

.profile-top-info-data-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    gap: 40px;
}

.profile-top-info-data-numbers {
    width: fit-content;
    height: fit-content;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 700;
}

.profile-top-info-picture img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    border: 4px solid white;
}

.profile-bottom{
    width: 1000px;
    height: fit-content;
    position: relative;
}

#profile-bottom-wishlistbtn{
    position: absolute;
    top: 40px;
    right: 0;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 30px;
    background-color: #11112f;
    color: #24FF00;
    font-size: 15px;
}

.profile-bottom h4 {
    font-size: 25px;
    color: #b000bf;
    padding-bottom: 30px;
    border-bottom: 2px solid #b000bf;
}

.wishlist {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.wishlistGame {
    width: 25%;
    height: 350px;
    display: block;
}

.wishlistGame img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 20px;
}
