article {
    background-color: #11112f;
    border: 2px solid white;
    border-radius: 15px;
    width: 1000px;
    min-height: 200px;
    height: fit-content;
    display: flex;
    box-sizing: border-box;
    padding: 1rem 2rem;
    gap: 15px;
}

article p {
    font-size: 15px;
}

article h3 {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}

.review-part-one {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 15px;
    align-items: center;
    border-right: 2px solid white;
    box-sizing: border-box;
    padding-right: 15px;
}

.review-part-one img {
    border-radius: 50%;
    border: 2px solid white;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.review-part-two {
    width: 60%;
    min-width: 60%;
    max-width: 60%;
    height: fit-content;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    gap: 10px;
}

.review-part-two p {
    max-width: 95%;
    height: 100%;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.review-part-three {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid white;
    box-sizing: border-box;
    padding-left: 15px;
}

.review-part-three p {
    color: #24FF00;
    font-size: 40px;
}

.btn-viewmore {
    font-size: 20px;
    background-color: #11112f;
    border: 2px solid white;
    border-radius: 10px;
    padding:15px 20px;
    color: #b000bf;
    font-weight: bold;
    margin-top: 5px;
    width: fit-content;
    align-self: center;
}

.btn-viewmore:hover {
    cursor: pointer;
}