.wishlistpage {
    width: 100%;
    height: fit-content;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wishlistpage-section {
    box-sizing: border-box;
    width: 1000px;
    height: fit-content;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.wishlistpage-section h1 {
    color: white;
    border-bottom: 2px solid #b000bf;
}

.wishlistpage-section h1  em{
    color: #24FF00;
    font-style: normal;
}

.wishlistpage-section-games {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.wishlistpage-section-games-game {
    width: 32.5%;
    height: 450px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.wishlistpage-section-games-game-top {
    width: 100%;
    height: 90%;
    overflow: hidden;
    border-radius: 20px;
}

.wishlistpage-section-games-game-title {
    width: 100%;
    height: 10%;
    text-overflow: ellipsis;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
}

.wishlistpage-section-games-game img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 20px;
}